html {
    background: #ffe;
    padding: 5em 0;
    font: 12pt "Century Schoolbook", sans-serif;
    transition: 1s;
}
body {
    max-width: 800px;
    margin: auto;
    padding: 25px;
    background: linear-gradient(90deg, #fea, transparent 5%, transparent 95%, #fea);
    border-radius: 50px;
    transition: 1s;
}
@media screen and (min-width: 850px){
    html.fadein body {
        padding: 25px 35px;
    }
    html.fadein body:hover {
        padding: 25px 50px;
    }
}
@media screen and (max-width: 500px){
    html {
        padding: 0;
    }
    body {
        padding: 10px;
    }
}
ul {
    list-style-type: none;
}
li {
    display: inline-flex;
    background: #fea;
    color: #740;
    border-radius: 20px;
    padding: 2px 10px;
    margin: 2px;
    transition: .5s;
}
li:hover {
    background: #fd9;
    border-radius: 7px;
}
a {
    color: inherit;
}
a:visited {
    color: gray;
}
