html {
    background: #ffe;
    padding: 5em 0;
    font: 12pt "Century Schoolbook", sans-serif;
}
body {
    max-width: 800px;
    box-sizing: border-box;
    margin: auto;
    padding: 50px;
    background: linear-gradient(90deg, #fea, transparent 5%, transparent 95%, #fea);
    border-radius: 50px;
    transition: 1s;
}
html.fadein body {
    max-width: 750px;
    padding: 50px 25px;
}
html.fadein body:hover {
    max-width: 770px;
    padding: 50px 35px;
}
ul {
    list-style-type: none;
}
li {
    display: inline-flex;
    background: #fea;
    color: #740;
    border-radius: 20px;
    padding: 2px 10px;
    margin: 2px;
    transition: .5s;
}
li:hover {
    background: #fd9;
    border-radius: 7px;
}
a {
    color: inherit;
}
a:visited {
    color: gray;
}
