html {
    background: white;
    animation: background_in 2s;
    padding: 5em 0;
}
html.out {
    background: #fea;
    transition: background_out .5s;
}
@keyframes background_in {
      from { background: #fea; }
      to   {}
}
@keyframes background_out {
      from {}
      to   { background: #fea; }
}
body {
    max-width: 750px;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
    font: 12pt "Century Schoolbook", sans-serif;
    background: linear-gradient(90deg, #fea, transparent 5%, transparent 95%, #fea);
    border-radius: 50px;
}
ul {
    list-style-type: none;
}
li {
    display: inline-flex;
    background: #fea;
    color: #620;
    border-radius: 20px;
    padding: 2px 10px;
    margin: 2px;
    transition: .3s;
}
a {
    color: inherit;
}
a:visited {
    color: gray;
}
li:hover {
    background: #fd9;
    border-radius: 7px;
}
