@keyframes load {
  0% {
    background-position-x: 140%;
  }
  100% {
    background-position-x: 0%;
  }
}
html {
  min-width: 250px;
  /*original picture from https://commons.wikimedia.org/wiki/File:Evolution-des-wissens.jpg*/
  background: white url("../images/evolution.png") no-repeat center bottom;
  font: 17px Helvetica, sans-serif;
  padding-bottom: 5em;
  color: #310;
}
body {
  width: 100%;
  max-width: 800px;
  padding: 2%;
  margin: auto;
}
ul {
  list-style-type: none;
  padding: 0 0 0 1em;
  flex: 1;
}
li {
  background: transparent;
  transition: 0s;
  border-radius: 0;
  padding: 4px 10px;
  margin: 0 2px;
}
li::before {
  content: ">";
  color: #a60;
  position: absolute;
  transform: translateX(-15px);
  opacity: 0;
  transition: opacity 0.3s, transform 0.2s, color 0.2s;
}
li:has(a:hover)::before,
li:focus-within::before {
  transform: translateX(-23px);
  color: goldenrod;
}
section:hover li::before,
section:focus-within li::before {
  opacity: 1;
}
a {
  color: transparent;
  background-image: linear-gradient(to right, #a60, goldenrod, #a60);
  background-clip: text;
  background-size: 200% 100%;
  background-position: 0% 50%;
  transition: background-position 0.2s ease-out;
}
a:visited {
  background-image: linear-gradient(to right, #950, darkgoldenrod, #a60);
}
a:hover {
  text-decoration-color: goldenrod;
  background-position: 100% 50%;
}
a:focus {
  text-decoration-color: goldenrod;
  text-decoration-thickness: 2px;
  outline: none;
}
a:visited:hover,
a:visited:focus {
  text-decoration-color: darkgoldenrod;
}
section {
  display: flex;
  align-items: baseline;
}
h1 {
  font-size: 2em;
  display: inline-block;
  color: transparent;
  background-image: linear-gradient(to right, black, darkgoldenrod);
  background-clip: text;
  margin: 0;
}
h2 {
  font-size: 1.2em;
  margin: 1.2em 0 1em;
}
h3 {
  font-size: 1em;
}
h3,
h3 ~ ul {
  margin: 0.5em 0;
}
#right_container {
  display: block;
  position: relative;
  right: 6px;
  float: right;
  width: 229px;
  margin-left: 10px;
  padding: 233px 0 1em 0;
  border-radius: 11px;
  text-align: center;
}
#right_container a {
  display: block;
  padding: 0.4em 1em;
  background-position: 100% 50%;
}
#right_container a:hover {
  background-position: 0% 50%;
}
#photo {
  position: absolute;
  top: 0;
  right: 0;
  width: 227px;
  height: 227px;
  border-radius: 100px 100px 100px 5px;
  filter: sepia(0.75);
  transition: border-radius 0.2s cubic-bezier(1, 0.9, 0.5, 1.5);
}
#right_container a:hover #photo,
#right_container a:focus #photo {
  filter: sepia(0.25);
  border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #111;
    color: #ccc;
  }
  h1 {
    background-image: linear-gradient(to right, #fff, darkgoldenrod);
  }
}
